.Rhistory
.RData
.Ruserdata
.DS_Store
__pycache__/
*.pyc
*.html
*.pdf
*.docx
*.pptx
!Report-Team1.html
!Executive_Summary-Team1.pptx
!Video_Presentation_Slides-Team1.pptx
data/raw/
data/*.csv
!data/online_shoppers_intention.csv
data/*.zip
data/*.xlsx
audio/slide_*.mp3
audio/*.wav
audio/*.txt
audio/audio_files.txt
video/
docs/*source.zip
*.Rproj.user
